body {
    background: #0083B0;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    min-height: 100vh;
}

.form-control::placeholder {
    font-style: italic;
    font-size: 0.85rem;
    color: #aaa;
}

.ml-auto{
    float: end;
}

.w-15{
    width: 15%;
}
.bg-dark-sky{
    background-color: #0093c0;
}